<div class="layout">
  <footer>

      <ul>
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="fa fa-github"></span>

            <span>{{ site.github_username }}</span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="fa fa-twitter"></span>

            <span>{{ site.twitter_username }}</span>
          </a>
        </li>
        {% endif %}
        <li><a href="mailto:{{ site.email }}">royhewitt07@gee-mail.com</a></li>
      </ul>

      <p id="subtle-patterns"><a href="http://subtlepatterns.com/cartographer/">Sublet Patterns</a> background</p>
      <a class="disclaimer" href="{{ site.baseurl }}/about/index.html#opinion-disclaimer">disclaimer</a>
    </div>

  </footer>
</div>

<script src="{{ site.baseurl }}/scripts/vendor/jquery/jquery-1.11.1.js"></script>
<script src="{{ site.baseurl }}/scripts/navigation.js"></script>

