<aside class="secondary">
  <h2>Course Topics</h2>
  <ul>
    <li>Topic I: Geospatial Data Issues
      <ul>
        <li>Turning Data into Information with ArcGIS</li>
        <li>Conceptualizing Geospatial Problem Solving</li>
        <li>Geocoding Tabular Data</li>
        <li>AutoCad Integration</li>
      </ul>
    </li>   
    <li>Topic II: Geospatial Analytics with Vector Data
      <ul>
        <li>Data Cardinality</li>
        <li>Working with Census Data</li>
        <li>Linear Referencing</li>
        <li>Spatial Statistics</li>
      </ul>
    </li>
    <li>Topic III: Geospatial Analytics with Raster Data
      <ul>
        <li>Site Selection with Raster Data</li>
        <li>Suitability Analysis and Weighted Overlay</li>
        <li>Image Classification</li>
      </ul>
    </li>
    <li>Topic IV: Customizing ArcMap
      <ul>
        <li>Elementary Customization for ArcMap</li>
        <li>Development of Course Portfolio</li>
      </ul>
    </li>
  </ul>
</aside>