header {
  @include clearfix;
}//header

.nav-links {
  float: right;
  margin: 0 1em;

  a {
    font-size: 1.25em;
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-out);
    
    &:hover {
      text-decoration: none;
    }//hover
  }//a

  li {
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-out);

    &:hover {
      border-top: 3px solid $logo-color;
    }//hover
  }

  ul {
    @include inline-block-list;

    li{
      margin-left: 1em;
    }//li
  }//ul
}//nav-links

.top-nav {
  display: none;

  @include breakpoint($medium) {
    display: none;
  }//medium

  h2 {
    margin: 0;
  }//h2

  li {
    margin-left: 0;
  }//li
}//nav

#top {
  @include clearfix;
}//top

.nav-toggle {
  float: right;
  margin: 1em;

  @include breakpoint($medium) {
    display: none;
  }//medium
}//nav-toggle

.logo {
  float: left;
  margin: 2em;
  font-family: $base-font-serif;
  display: inline-block;
  color: $logo-color;
  cursor: pointer;
  @include transition-property(all);
  @include transition-duration(.25s);
  @include transition-timing-function(ease-in);

  &:hover {
    text-decoration: none;
    color: $accent-color;
    @include scale(1.2);
  }//hover
  
  h1 {
    display: inline;
    font-size: 3.25em;
  }//h2

  h2 {
    font-size: 3.25em;
    margin-top: .2em;
  }//h2
  
  img {
    @include border-radius(50%);
    width: 3em;
    height: 3em;
    margin-top: -1.5em;
    border: .25em solid $logo-color;
  }//img
}//logo

.msgist {
  display: none;

  @include breakpoint($medium) {
    display: block;
    cursor: pointer;

    span {
      font-family: $stateface;
      font-size: 10em;
      margin: .3em;
      float: right;
      color: $accent-color;
      @include transition-property(scale);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease-in);

      &:hover {
        @include scale(1.2);
        color: $logo-color;
      }//hover
    }//span
  }//medium
}//msgist