.layout {
  padding: 3%;
  @include container;

    .page-content {
      @include span(10 of 10);
      
      @include breakpoint($medium) {
        @include span(6 of 10);
      }//medium
    }//page-content

    .ncsu-sidebar {
      display: none;

      @include breakpoint($medium) {
        display: block;
        @include span(4 at 7 of 10);
      }//medium
      
    }//sidebar
}//layout