/*--------------------------*\
      Fonts and Spacing
\*--------------------------*/
$base-font-family: 'PT Sans', Helvetica, Arial, sans-serif;
$base-font-serif:  'Merriweather', "Times New Roman", Times,serif;
$stateface:        'statefaceregular';

$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 24px;
$blockquote-line-height: $base-line-height * 1.5;

$spacing-unit:     30px;

/*--------------------------*\
            Colors
\*--------------------------*/

$text-color:       white;
$background-color: #fdfdfd;
$brand-color:      white;
$logo-color:       white;
$logo-color-hover: white;
$accent-color:     #b10019;
$nav-links-color:  $accent-color;

$button-color: #C0C0C0;
$button-color-dark: darken($button-color, 30);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

/*--------------------------*\
          Breakpoints
\*--------------------------*/

$small:          32em;
$medium:         47em;
$large:          70em;

/*--------------------------*\
        Grid Settings
\*--------------------------*/

$susy: (
  columns: 10,
  gutters: 1/4,
  debug: (
    image: show,
    toggle: top right
  )
);