<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="layout">
      <div class="page-content">
        {{ content }}

      </div>
      {% if page.course == "GIS 520: Advanced Geospatial Analytics" %}

        {% include ncsu-sidebar.html %}
        
      {% endif %}
    </section>
    
    {% include footer.html %}

    <script src="{{ site.baseurl }}/scripts/vendor/jquery/jquery-1.11.1.js"></script>
    <script src="{{ site.baseurl }}/scripts/navigation.js"></script>
    {% if page.course == "GIS 520: Advanced Geospatial Analytics" %}
      <script src="{{ site.baseurl }}/scripts/vendor/mojoSidebar/stickyMojo.js"></script>
    {% endif %}
  </body>

</html>
